
<head>
    <title>??????????????| Победа</title>
    <link rel="stylesheet" href="~/css/category.css" />
</head>
<div class="main-wrapper category-page">
    <section class="j-container">
        <div class="breadcrumbs">
            <span itemprop="itemListElement">
                <a href="/" class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Комиссионный магазин «Победа»">
                    <span itemprop="name">Главная</span>
                    <meta itemprop="position" content="1">
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span itemprop="itemListElement">
                <a href="/catalog/" class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Каталог товаров б/у">
                    <span itemprop="name">Каталог</span>
                    <meta itemprop="position" content="2">
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span class="breadcrumbs-crumb breadcrumbs-crumb-current" title="Купить телефоны б/у | Победа">
                <span itemprop="item">
                    <span itemprop="name">Телефоны</span>
                    <meta itemprop="position" content="3">
                </span>
            </span>
        </div>
    </section>

    <section class="j-container filter with-fast">
        <div class="filter-header">
            <div class="filter-header--title">
                <h1>Телефоны</h1>
                <div class="filter-header--count">
                    Всего 50421 товар
                </div>
            </div>
        </div>

        <div class="filter-quick">
            <div class="swiper-container filter-quick--container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                <div class="swiper-wrapper filter-quick--wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide filter-quick--item swiper-slide-active">Iphone 15</div>
                    <div class="swiper-slide filter-quick--item swiper-slide-next">Iphone 13</div>
                    <div class="swiper-slide filter-quick--item">Samsung S22</div>
                    <div class="swiper-slide filter-quick--item">Samsung S21</div>
                    <div class="swiper-slide filter-quick--item">Наушники</div>
                    <div class="swiper-slide filter-quick--item">Power bank</div>
                    <div class="swiper-slide filter-quick--item">USB кабель</div>
                    <div class="swiper-slide filter-quick--item">Apple watch</div>
                    <div class="swiper-slide filter-quick--item">AirPods</div>
                    <div class="swiper-slide filter-quick--item">Iphone 11</div>
                    <div class="swiper-slide filter-quick--item">Iphone 14</div>
                </div>
                <div class="swiper-button swiper-button-prev swiper-button-disabled">
                    <i class="ui-icon ui-icon-arrow-angleleft"></i>
                </div>
                <div class="swiper-button swiper-button-next swiper-button-disabled">
                    <i class="ui-icon ui-icon-arrow-angleright"></i>
                </div>
            </div>
        </div>

@*         <script>
            window.cat = "telefony";
        </script> *@

        <div class="filter-banner-top">
            <picture>
                <source srcset="~/img/category/category-telefony.png">
                <img src="" lazy-load="loaded" alt="Телефоны" data-load="">
            </picture>
        </div>
        <div class="filter-desktop">
            <div class="filter-components" data-mount="">
                <div style="order: 4; transition: none 0s ease 0s;" class="filter-component" data-name="Состояние" data-type="multiple" data-render="" data-mount="">
                    <div class="filter-component--title" data-toggle="">
                        <span>Состояние</span>
                        <i class="ui-icon-arrow-angletop"></i>
                    </div>
                    <div class="filter-component--wrapper ">
                        <div class="j-checkbox" data-name="Новый" title="Новый">
                            <input class="j-checkbox-input" data-id="1" type="checkbox">
                            <div class="j-checkbox-wrapper">

                                <div class="j-checkbox-icon"></div>
                                <div class="j-checkbox-label ">Новый</div>
                                <div class="j-checkbox-count">4457</div>
                            </div>
                        </div><div class="j-checkbox" data-name="Отличное" title="Отличное">
                            <input class="j-checkbox-input" data-id="2" type="checkbox">
                            <div class="j-checkbox-wrapper">

                                <div class="j-checkbox-icon"></div>
                                <div class="j-checkbox-label ">Отличное</div>
                                <div class="j-checkbox-count">6568</div>
                            </div>
                        </div><div class="j-checkbox" data-name="Хорошее" title="Хорошее">
                            <input class="j-checkbox-input" data-id="3" type="checkbox">
                            <div class="j-checkbox-wrapper">

                                <div class="j-checkbox-icon"></div>
                                <div class="j-checkbox-label ">Хорошее</div>
                                <div class="j-checkbox-count">31988</div>
                            </div>
                        </div><div class="j-checkbox" data-name="Удовлетворительное" title="Удовлетворительное">
                            <input class="j-checkbox-input" data-id="4" type="checkbox">
                            <div class="j-checkbox-wrapper">

                                <div class="j-checkbox-icon"></div>
                                <div class="j-checkbox-label ">Удовлетворительное</div>
                                <div class="j-checkbox-count">5556</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-actions">
                <button class="filter-action filter-action--apply j-button main">
                    Применить фильтры
                </button>
                <button class="filter-action filter-action--reset">
                    Сбросить фильтры
                </button>
                <div class="filter-action filter-view">
                    <div class="filter-view--label">
                        Найдено 50421 товар
                    </div>
                    <button class="filter-view--button">Показать</button>
                    <i class="ui-icon ui-icon-close filter-view--cancel"></i>
                </div>
            </div>
        </div>
        <div class="filter-content">
            <div class="filter-grid">
                <div class="card is-lazy" data-status="normal">
                    <div class="card-wrapper" data-barcode="2029600502897" itemscope="" itemtype="http://schema.org/Product">
                        <div class="card-labels">
                            <div class="card-label">В кредит</div>
                        </div>
                        <div class="card-images">
                            <a class="card-images-wrapper" rel="noreferrer" href="//xn--80aauks4g.xn---63-5cdesg4ei.xn--p1ai/catalog/telefony/sotovye-telefony/xiaomi-poco-m5s-8-255gb-2029600502897/" title="Xiaomi Poco M5S 8/256Gb" target="_blank">
                                <div class="card-images-desktop is-active">
                                    <div class="card-images-overlay" data-target="dot-1" data-img-target-stack="1"></div>
                                    <div class="card-images-img">
                                        <img alt="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей" data-img-load="load" data-img-load-stack="1" width="197" itemprop="image" src="/modules/image/src/images/cache/product_photo_1_2029600502897_8-705-440.webp">
                                    </div>
                                    <div class="card-images-overlay" data-target="dot-2" data-img-target-stack="2"></div>
                                    <div class="card-images-img">
                                        <img alt="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей" data-img-load="load" data-img-load-stack="2" width="197" itemprop="image" src="/modules/image/src/images/cache/product_photo_2_2029600502897_8-705-440.webp">
                                    </div>
                                </div>
                                <div class="card-images-mobile">
                                    <div class="swiper-container" data-length="2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img alt="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей" data-img-load="load" data-img-load-stack="1" width="197" src="/modules/image/src/images/cache/product_photo_1_2029600502897_8-705-440.webp">
                                            </div>
                                            <div class="swiper-slide">
                                                <img alt="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей" data-img-load="/modules/image/src/images/cache/product_photo_2_2029600502897_8-705-440.webp" data-img-load-stack="2" width="197">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card-content">
                            <meta itemprop="name" content="Xiaomi Poco M5S 8/256Gb">
                            <meta itemprop="description" content="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей">

                            <div class="card-favorite">
                                <i class="ui-icon ui-icon-likeactive"></i>
                                <i class="ui-icon ui-icon-like"></i>
                            </div>
                            <div class="card-prices" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <div class="card-price" itemprop="price" content="15999">
                                    15 999 <span class="rub">
                                        рублей

                                    </span>
                                </div>

                                <meta itemprop="priceCurrency" content="RUB">
                                <meta itemprop="url" href="//xn--80aauks4g.xn---63-5cdesg4ei.xn--p1ai/catalog/telefony/sotovye-telefony/xiaomi-poco-m5s-8-255gb-2029600502897/">

                            </div>
                            <a class="card-title" href="//xn--80aauks4g.xn---63-5cdesg4ei.xn--p1ai/catalog/telefony/sotovye-telefony/xiaomi-poco-m5s-8-255gb-2029600502897/" rel="noreferrer" target="_blank" title="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей">
                                Xiaomi Poco M5S 8/256Gb
                            </a>
                        </div>
                        <div class="card-bottom">
                            <div class="card-city">Казань</div>
                            <div class="card-action-more" data-href="//xn--80aauks4g.xn---63-5cdesg4ei.xn--p1ai/catalog/telefony/sotovye-telefony/xiaomi-poco-m5s-8-255gb-2029600502897/" target="_blank" title="Купить Xiaomi Poco M5S 8/256Gb б/у в Казани. Цена 15999 рублей">
                                <span>Подробнее</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/category.js"></script>