

<head>
    <title>Каталог товаров б/у | Победа</title>
    <link rel="stylesheet" href="~/css/catalog.css" />
</head>
<div class="main-wrapper catalog-page">
    <section class="j-container">
        <div class="breadcrumbs">
            <span itemprop="itemListElement">
                <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" title="Комиссионный магазин «Победа»" itemprop="item" href="/">
                    <span>Главная</span>
                </a>
            </span>
            <i class="ui-icon ui-icon-arrow-angleright"></i>
            <span class="breadcrumbs-crumb breadcrumbs-crumb-current">
                <span>
                    Каталог
                </span>
            </span>
        </div>
    </section>
    <div class="j-container category">
        <h1 class="catalog-page-title">Каталог товаров б/у</h1>
        <div class="catalog-page-categories" data-loaded="" style="position: relative; height: 1400px;">
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 0px; left: 0px;">
                <i class="ui-icon ui-icon-category-telefony"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Телефоны б/у" href="/catalog/telefony/">
                        <span class="catalog-page-category-title-label">Телефоны</span>
                        <span class="catalog-page-category-title-count">52 052</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Сотовые телефоны б/у" href="/catalog/telefony/sotovye-telefony/">
                        <span class="catalog-page-category-child-title">Сотовые телефоны</span>
                        <span class="catalog-page-category-child-count">38 554</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Умные часы и браслеты б/у" href="/catalog/telefony/umnye-chasy-i-braslety/">
                        <span class="catalog-page-category-child-title">Умные часы и браслеты</span>
                        <span class="catalog-page-category-child-count">3 548</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Наушники для телефонов б/у" href="/catalog/telefony/naushniki-dlya-telefonov/">
                        <span class="catalog-page-category-child-title">Наушники для телефонов</span>
                        <span class="catalog-page-category-child-count">4 685</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Рации б/у" href="/catalog/telefony/racii/">
                        <span class="catalog-page-category-child-title">Рации</span>
                        <span class="catalog-page-category-child-count">495</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Зарядные устройства б/у" href="/catalog/telefony/zaryadnye-ustroistva/">
                        <span class="catalog-page-category-child-title">Зарядные устройства</span>
                        <span class="catalog-page-category-child-count">4 106</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары для телефонов б/у" href="/catalog/telefony/aksessuary-dlya-telefonov/">
                        <span class="catalog-page-category-child-title">Аксессуары для телефонов</span>
                        <span class="catalog-page-category-child-count">644</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 0px; left: calc(25% + 6.25px);">
                <i class="ui-icon ui-icon-category-kompyuternaya-tehnika"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Компьютерная техника б/у" href="/catalog/kompyuternaya-tehnika/">
                        <span class="catalog-page-category-title-label">Компьютерная техника</span>
                        <span class="catalog-page-category-title-count">10 907</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Ноутбуки б/у" href="/catalog/kompyuternaya-tehnika/noutbuki/">
                        <span class="catalog-page-category-child-title">Ноутбуки</span>
                        <span class="catalog-page-category-child-count">2 821</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Системные блоки б/у" href="/catalog/kompyuternaya-tehnika/sistemnye-bloki/">
                        <span class="catalog-page-category-child-title">Системные блоки</span>
                        <span class="catalog-page-category-child-count">712</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Мониторы б/у" href="/catalog/kompyuternaya-tehnika/monitory/">
                        <span class="catalog-page-category-child-title">Мониторы</span>
                        <span class="catalog-page-category-child-count">1 233</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Моноблоки б/у" href="/catalog/kompyuternaya-tehnika/monobloki/">
                        <span class="catalog-page-category-child-title">Моноблоки</span>
                        <span class="catalog-page-category-child-count">90</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Компьютерные мыши б/у" href="/catalog/kompyuternaya-tehnika/kompyuternye-myshi/">
                        <span class="catalog-page-category-child-title">Компьютерные мыши</span>
                        <span class="catalog-page-category-child-count">1 146</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Клавиатуры б/у" href="/catalog/kompyuternaya-tehnika/klaviatury/">
                        <span class="catalog-page-category-child-title">Клавиатуры</span>
                        <span class="catalog-page-category-child-count">460</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Компьютерные гарнитуры и наушники б/у" href="/catalog/kompyuternaya-tehnika/kompyuternye-garnitury-i-naushniki/">
                        <span class="catalog-page-category-child-title">Компьютерные гарнитуры и наушники</span>
                        <span class="catalog-page-category-child-count">1 131</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Web-камеры б/у" href="/catalog/kompyuternaya-tehnika/webkamery/">
                        <span class="catalog-page-category-child-title">Web-камеры</span>
                        <span class="catalog-page-category-child-count">160</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Планшетные пк б/у" href="/catalog/kompyuternaya-tehnika/planshetnye-pk/">
                        <span class="catalog-page-category-child-title">Планшетные пк</span>
                        <span class="catalog-page-category-child-count">1 227</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Электронные книги б/у" href="/catalog/kompyuternaya-tehnika/elektronnye-knigi/">
                        <span class="catalog-page-category-child-title">Электронные книги</span>
                        <span class="catalog-page-category-child-count">41</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Принтеры и МФУ б/у" href="/catalog/kompyuternaya-tehnika/printery-i-mfu/">
                        <span class="catalog-page-category-child-title">Принтеры и МФУ</span>
                        <span class="catalog-page-category-child-count">155</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Роутеры и модемы б/у" href="/catalog/kompyuternaya-tehnika/routery-i-modemy/">
                        <span class="catalog-page-category-child-title">Роутеры и модемы</span>
                        <span class="catalog-page-category-child-count">502</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Жесткие диски б/у" href="/catalog/kompyuternaya-tehnika/jestkie-diski/">
                        <span class="catalog-page-category-child-title">Жесткие диски</span>
                        <span class="catalog-page-category-child-count">116</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Прочая оргтехника б/у" href="/catalog/kompyuternaya-tehnika/prochaya-orgtehnika/">
                        <span class="catalog-page-category-child-title">Прочая оргтехника</span>
                        <span class="catalog-page-category-child-count">146</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Сетевые фильтры и удлинители б/у" href="/catalog/kompyuternaya-tehnika/setevye-filtry-i-udliniteli/">
                        <span class="catalog-page-category-child-title">Сетевые фильтры и удлинители</span>
                        <span class="catalog-page-category-child-count">157</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары для компьютеров б/у" href="/catalog/kompyuternaya-tehnika/aksessuary-dlya-kompyuterov/">
                        <span class="catalog-page-category-child-title">Аксессуары для компьютеров</span>
                        <span class="catalog-page-category-child-count">810</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 0px; left: calc(50% + 12.5px);">
                <i class="ui-icon ui-icon-category-instrument"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Инструмент б/у" href="/catalog/instrument/">
                        <span class="catalog-page-category-title-label">Инструмент</span>
                        <span class="catalog-page-category-title-count">23 928</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары и расходные материалы б/у" href="/catalog/instrument/aksessuary-i-rashodnye-materialy/">
                        <span class="catalog-page-category-child-title">Аксессуары и расходные материалы</span>
                        <span class="catalog-page-category-child-count">1 156</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Измерительные инструменты б/у" href="/catalog/instrument/izmeritelnye-instrumenty/">
                        <span class="catalog-page-category-child-title">Измерительные инструменты</span>
                        <span class="catalog-page-category-child-count">2 192</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Спецодежда б/у" href="/catalog/instrument/specodejda/">
                        <span class="catalog-page-category-child-title">Спецодежда</span>
                        <span class="catalog-page-category-child-count">570</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Электроинструмент б/у" href="/catalog/instrument/elektroinstrument/">
                        <span class="catalog-page-category-child-title">Электроинструмент</span>
                        <span class="catalog-page-category-child-count">15 307</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Ручной инструмент б/у" href="/catalog/instrument/ruchnoi-instrument/">
                        <span class="catalog-page-category-child-title">Ручной инструмент</span>
                        <span class="catalog-page-category-child-count">1 531</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Сварочное оборудование б/у" href="/catalog/instrument/svarochnoe-oborudovanie/">
                        <span class="catalog-page-category-child-title">Сварочное оборудование</span>
                        <span class="catalog-page-category-child-count">1 420</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Бензоинструмент б/у" href="/catalog/instrument/benzoinstrument/">
                        <span class="catalog-page-category-child-title">Бензоинструмент</span>
                        <span class="catalog-page-category-child-count">521</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Пневмоинструмент б/у" href="/catalog/instrument/pnevmoinstrument/">
                        <span class="catalog-page-category-child-title">Пневмоинструмент</span>
                        <span class="catalog-page-category-child-count">359</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Светотехника б/у" href="/catalog/instrument/svetotehnika/">
                        <span class="catalog-page-category-child-title">Светотехника</span>
                        <span class="catalog-page-category-child-count">608</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Техника для сада б/у" href="/catalog/instrument/tehnika-dlya-sada/">
                        <span class="catalog-page-category-child-title">Техника для сада</span>
                        <span class="catalog-page-category-child-count">264</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 0px; left: calc(75% + 18.75px);">
                <i class="ui-icon ui-icon-category-igry-i-pristavki"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Игры и приставки б/у" href="/catalog/igry-i-pristavki/">
                        <span class="catalog-page-category-title-label">Игры и приставки</span>
                        <span class="catalog-page-category-title-count">2 077</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Игровые приставки б/у" href="/catalog/igry-i-pristavki/igrovye-pristavki/">
                        <span class="catalog-page-category-child-title">Игровые приставки</span>
                        <span class="catalog-page-category-child-count">630</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Игры для приставок б/у" href="/catalog/igry-i-pristavki/igry-dlya-pristavok/">
                        <span class="catalog-page-category-child-title">Игры для приставок</span>
                        <span class="catalog-page-category-child-count">592</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары для игровых приставок б/у" href="/catalog/igry-i-pristavki/aksessuary-dlya-igrovyh-pristavok/">
                        <span class="catalog-page-category-child-title">Аксессуары для игровых приставок</span>
                        <span class="catalog-page-category-child-count">483</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Настольные игры б/у" href="/catalog/igry-i-pristavki/nastolnye-igry/">
                        <span class="catalog-page-category-child-title">Настольные игры</span>
                        <span class="catalog-page-category-child-count">372</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 283px; left: calc(75% + 18.75px);">
                <i class="ui-icon ui-icon-category-tovary-dlya-doma"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Товары для дома б/у" href="/catalog/tovary-dlya-doma/">
                        <span class="catalog-page-category-title-label">Товары для дома</span>
                        <span class="catalog-page-category-title-count">9 990</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Хозяйственные товары б/у" href="/catalog/tovary-dlya-doma/hozyaistvennye-tovary/">
                        <span class="catalog-page-category-child-title">Хозяйственные товары</span>
                        <span class="catalog-page-category-child-count">156</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Мультиварки б/у" href="/catalog/tovary-dlya-doma/multivarki/">
                        <span class="catalog-page-category-child-title">Мультиварки</span>
                        <span class="catalog-page-category-child-count">237</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Климатическое оборудование б/у" href="/catalog/tovary-dlya-doma/klimaticheskoe-oborudovanie/">
                        <span class="catalog-page-category-child-title">Климатическое оборудование</span>
                        <span class="catalog-page-category-child-count">1 045</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Мебель и интерьер б/у" href="/catalog/tovary-dlya-doma/mebel-i-interer/">
                        <span class="catalog-page-category-child-title">Мебель и интерьер</span>
                        <span class="catalog-page-category-child-count">889</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Микроволновые печи б/у" href="/catalog/tovary-dlya-doma/mikrovolnovye-pechi/">
                        <span class="catalog-page-category-child-title">Микроволновые печи</span>
                        <span class="catalog-page-category-child-count">143</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Пылесосы б/у" href="/catalog/tovary-dlya-doma/pylesosy/">
                        <span class="catalog-page-category-child-title">Пылесосы</span>
                        <span class="catalog-page-category-child-count">995</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Стиральные машины б/у" href="/catalog/tovary-dlya-doma/stiralnye-mashiny/">
                        <span class="catalog-page-category-child-title">Стиральные машины</span>
                        <span class="catalog-page-category-child-count">85</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Товары для красоты и здоровья б/у" href="/catalog/tovary-dlya-doma/tovary-dlya-krasoty-i-zdorovya/">
                        <span class="catalog-page-category-child-title">Товары для красоты и здоровья</span>
                        <span class="catalog-page-category-child-count">661</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Товары для кухни б/у" href="/catalog/tovary-dlya-doma/tovary-dlya-kuhni/">
                        <span class="catalog-page-category-child-title">Товары для кухни</span>
                        <span class="catalog-page-category-child-count">1 961</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Утюги и отпариватели б/у" href="/catalog/tovary-dlya-doma/utyugi-i-otparivateli/">
                        <span class="catalog-page-category-child-title">Утюги и отпариватели</span>
                        <span class="catalog-page-category-child-count">761</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Чайники и кофеварки б/у" href="/catalog/tovary-dlya-doma/chainiki-i-kofevarki/">
                        <span class="catalog-page-category-child-title">Чайники и кофеварки</span>
                        <span class="catalog-page-category-child-count">709</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Холодильники и морозильники б/у" href="/catalog/tovary-dlya-doma/holodilniki-i-morozilniki/">
                        <span class="catalog-page-category-child-title">Холодильники и морозильники</span>
                        <span class="catalog-page-category-child-count">71</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Швейные машины б/у" href="/catalog/tovary-dlya-doma/shveinye-mashiny/">
                        <span class="catalog-page-category-child-title">Швейные машины</span>
                        <span class="catalog-page-category-child-count">136</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Бритвы и машинки для стрижки б/у" href="/catalog/tovary-dlya-doma/britvy-i-mashinki-dlya-strijki/">
                        <span class="catalog-page-category-child-title">Бритвы и машинки для стрижки</span>
                        <span class="catalog-page-category-child-count">702</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Фены и плойки б/у" href="/catalog/tovary-dlya-doma/feny-i-ploiki/">
                        <span class="catalog-page-category-child-title">Фены и плойки</span>
                        <span class="catalog-page-category-child-count">943</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Весы б/у" href="/catalog/tovary-dlya-doma/vesy/">
                        <span class="catalog-page-category-child-title">Весы</span>
                        <span class="catalog-page-category-child-count">318</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Электрические плиты б/у" href="/catalog/tovary-dlya-doma/elektricheskie-plity/">
                        <span class="catalog-page-category-child-title">Электрические плиты</span>
                        <span class="catalog-page-category-child-count">174</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 370px; left: 0px;">
                <i class="ui-icon ui-icon-category-avto"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Авто б/у" href="/catalog/avto/">
                        <span class="catalog-page-category-title-label">Авто</span>
                        <span class="catalog-page-category-title-count">4 809</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Мойки высокого давления б/у" href="/catalog/avto/moiki-vysokogo-davleniya/">
                        <span class="catalog-page-category-child-title">Мойки высокого давления</span>
                        <span class="catalog-page-category-child-count">103</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Насосы и компрессоры б/у" href="/catalog/avto/nasosy-i-kompressory/">
                        <span class="catalog-page-category-child-title">Насосы и компрессоры</span>
                        <span class="catalog-page-category-child-count">172</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Автомагнитолы б/у" href="/catalog/avto/avtomagnitoly/">
                        <span class="catalog-page-category-child-title">Автомагнитолы</span>
                        <span class="catalog-page-category-child-count">1 268</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Автомобильные аксессуары и комплектующие б/у" href="/catalog/avto/avtomobilnye-aksessuary-i-komplektuyucshie/">
                        <span class="catalog-page-category-child-title">Автомобильные аксессуары и комплектующие</span>
                        <span class="catalog-page-category-child-count">743</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Автомобильные колонки б/у" href="/catalog/avto/avtomobilnye-kolonki/">
                        <span class="catalog-page-category-child-title">Автомобильные колонки</span>
                        <span class="catalog-page-category-child-count">752</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Автомобильные сабвуферы б/у" href="/catalog/avto/avtomobilnye-sabvufery/">
                        <span class="catalog-page-category-child-title">Автомобильные сабвуферы</span>
                        <span class="catalog-page-category-child-count">337</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Автомобильные усилители б/у" href="/catalog/avto/avtomobilnye-usiliteli/">
                        <span class="catalog-page-category-child-title">Автомобильные усилители</span>
                        <span class="catalog-page-category-child-count">715</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Парктроники и сигнализация б/у" href="/catalog/avto/parktroniki-i-signalizaciya/">
                        <span class="catalog-page-category-child-title">Парктроники и сигнализация</span>
                        <span class="catalog-page-category-child-count">58</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Видеорегистраторы б/у" href="/catalog/avto/videoregistratory/">
                        <span class="catalog-page-category-child-title">Видеорегистраторы</span>
                        <span class="catalog-page-category-child-count">412</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Навигаторы б/у" href="/catalog/avto/navigatory/">
                        <span class="catalog-page-category-child-title">Навигаторы</span>
                        <span class="catalog-page-category-child-count">34</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Шины и диски б/у" href="/catalog/avto/shiny-i-diski/">
                        <span class="catalog-page-category-child-title">Шины и диски</span>
                        <span class="catalog-page-category-child-count">139</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 475px; left: calc(50% + 12.5px);">
                <i class="ui-icon ui-icon-category-foto-i-videotehnika"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Фото и видеотехника б/у" href="/catalog/foto-i-videotehnika/">
                        <span class="catalog-page-category-title-label">Фото и видеотехника</span>
                        <span class="catalog-page-category-title-count">856</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Фотоаппараты б/у" href="/catalog/foto-i-videotehnika/fotoapparaty/">
                        <span class="catalog-page-category-child-title">Фотоаппараты</span>
                        <span class="catalog-page-category-child-count">314</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Видеокамеры б/у" href="/catalog/foto-i-videotehnika/videokamery/">
                        <span class="catalog-page-category-child-title">Видеокамеры</span>
                        <span class="catalog-page-category-child-count">370</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары для фото и видеокамер б/у" href="/catalog/foto-i-videotehnika/aksessuary-dlya-foto-i-videokamer/">
                        <span class="catalog-page-category-child-title">Аксессуары для фото и видеокамер</span>
                        <span class="catalog-page-category-child-count">155</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 692px; left: calc(25% + 6.25px);">
                <i class="ui-icon ui-icon-category-hobbi-i-otdyh"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Хобби и отдых б/у" href="/catalog/hobbi-i-otdyh/">
                        <span class="catalog-page-category-title-label">Хобби и отдых</span>
                        <span class="catalog-page-category-title-count">3 017</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Зимний спортивный инвентарь б/у" href="/catalog/hobbi-i-otdyh/zimnii-sportivnyi-inventar/">
                        <span class="catalog-page-category-child-title">Зимний спортивный инвентарь</span>
                        <span class="catalog-page-category-child-count">149</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Металлоискатели б/у" href="/catalog/hobbi-i-otdyh/metalloiskateli/">
                        <span class="catalog-page-category-child-title">Металлоискатели</span>
                        <span class="catalog-page-category-child-count">113</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Бинокли и оптика б/у" href="/catalog/hobbi-i-otdyh/binokli-i-optika/">
                        <span class="catalog-page-category-child-title">Бинокли и оптика</span>
                        <span class="catalog-page-category-child-count">189</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Водный инвентарь б/у" href="/catalog/hobbi-i-otdyh/vodnyi-inventar/">
                        <span class="catalog-page-category-child-title">Водный инвентарь</span>
                        <span class="catalog-page-category-child-count">238</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Тату-машинки б/у" href="/catalog/hobbi-i-otdyh/tatumashinki/">
                        <span class="catalog-page-category-child-title">Тату-машинки</span>
                        <span class="catalog-page-category-child-count">67</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Велосипеды и самокаты б/у" href="/catalog/hobbi-i-otdyh/velosipedy-i-samokaty/">
                        <span class="catalog-page-category-child-title">Велосипеды и самокаты</span>
                        <span class="catalog-page-category-child-count">558</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Пневматика и электрошокеры б/у" href="/catalog/hobbi-i-otdyh/pnevmatika-i-elektroshokery/">
                        <span class="catalog-page-category-child-title">Пневматика и электрошокеры</span>
                        <span class="catalog-page-category-child-count">242</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Тренажеры б/у" href="/catalog/hobbi-i-otdyh/trenajery/">
                        <span class="catalog-page-category-child-title">Тренажеры</span>
                        <span class="catalog-page-category-child-count">50</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Роликовые и ледовые коньки б/у" href="/catalog/hobbi-i-otdyh/rolikovye-i-ledovye-konki/">
                        <span class="catalog-page-category-child-title">Роликовые и ледовые коньки</span>
                        <span class="catalog-page-category-child-count">137</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Туризм б/у" href="/catalog/hobbi-i-otdyh/turizm/">
                        <span class="catalog-page-category-child-title">Туризм</span>
                        <span class="catalog-page-category-child-count">559</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 783px; left: calc(50% + 12.5px);">
                <i class="ui-icon ui-icon-category-lichnye-vecshi"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Личные вещи б/у" href="/catalog/lichnye-vecshi/">
                        <span class="catalog-page-category-title-label">Личные вещи</span>
                        <span class="catalog-page-category-title-count">5 329</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Канцтовары б/у" href="/catalog/lichnye-vecshi/kanctovary/">
                        <span class="catalog-page-category-child-title">Канцтовары</span>
                        <span class="catalog-page-category-child-count">779</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Часы б/у" href="/catalog/lichnye-vecshi/chasy/">
                        <span class="catalog-page-category-child-title">Часы</span>
                        <span class="catalog-page-category-child-count">2 010</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Кошельки и сумки б/у" href="/catalog/lichnye-vecshi/koshelki-i-sumki/">
                        <span class="catalog-page-category-child-title">Кошельки и сумки</span>
                        <span class="catalog-page-category-child-count">256</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 921px; left: 0px;">
                <i class="ui-icon ui-icon-category-audiotehnika"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Аудиотехника б/у" href="/catalog/audiotehnika/">
                        <span class="catalog-page-category-title-label">Аудиотехника</span>
                        <span class="catalog-page-category-title-count">4 074</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Музыкальные инструменты б/у" href="/catalog/audiotehnika/muzykalnye-instrumenty/">
                        <span class="catalog-page-category-child-title">Музыкальные инструменты</span>
                        <span class="catalog-page-category-child-count">379</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить MP3 плееры б/у" href="/catalog/audiotehnika/mp3-pleery/">
                        <span class="catalog-page-category-child-title">MP3 плееры</span>
                        <span class="catalog-page-category-child-count">27</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Колонки б/у" href="/catalog/audiotehnika/kolonki/">
                        <span class="catalog-page-category-child-title">Колонки</span>
                        <span class="catalog-page-category-child-count">3 501</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Домашние кинотеатры б/у" href="/catalog/audiotehnika/domashnie-kinoteatry/">
                        <span class="catalog-page-category-child-title">Домашние кинотеатры</span>
                        <span class="catalog-page-category-child-count">26</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Музыкальные центры б/у" href="/catalog/audiotehnika/muzykalnye-centry/">
                        <span class="catalog-page-category-child-title">Музыкальные центры</span>
                        <span class="catalog-page-category-child-count">81</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 997px; left: calc(75% + 18.75px);">
                <i class="ui-icon ui-icon-category-tv-i-video"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить ТВ и Видео б/у" href="/catalog/tv-i-video/">
                        <span class="catalog-page-category-title-label">ТВ и Видео</span>
                        <span class="catalog-page-category-title-count">2 782</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Телевизоры б/у" href="/catalog/tv-i-video/televizory/">
                        <span class="catalog-page-category-child-title">Телевизоры</span>
                        <span class="catalog-page-category-child-count">1 807</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Видео б/у" href="/catalog/tv-i-video/video/">
                        <span class="catalog-page-category-child-title">Видео</span>
                        <span class="catalog-page-category-child-count">23</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Проекторы б/у" href="/catalog/tv-i-video/proektory/">
                        <span class="catalog-page-category-child-title">Проекторы</span>
                        <span class="catalog-page-category-child-count">96</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Цифровое телевидение б/у" href="/catalog/tv-i-video/cifrovoe-televidenie/">
                        <span class="catalog-page-category-child-title">Цифровое телевидение</span>
                        <span class="catalog-page-category-child-count">600</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Аксессуары для ТВ и видео б/у" href="/catalog/tv-i-video/aksessuary-dlya-tv-i-video/">
                        <span class="catalog-page-category-child-title">Аксессуары для ТВ и видео</span>
                        <span class="catalog-page-category-child-count">254</span>
                    </a>
                </div>
            </div>
            <div class="catalog-page-category" data-macy-complete="1" style="width: calc(25% - 18.75px); position: absolute; top: 1106px; left: calc(50% + 12.5px);">
                <i class="ui-icon ui-icon-category-tovary-dlya-detei"></i>
                <div class="catalog-page-category-list">
                    <a class="catalog-page-category-title" title="Купить Товары для детей б/у" href="/catalog/tovary-dlya-detei/">
                        <span class="catalog-page-category-title-label">Товары для детей</span>
                        <span class="catalog-page-category-title-count">460</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Детские автокресла б/у" href="/catalog/tovary-dlya-detei/detskie-avtokresla/">
                        <span class="catalog-page-category-child-title">Детские автокресла</span>
                        <span class="catalog-page-category-child-count">41</span>
                    </a>
                    <a class="catalog-page-category-child" title="Купить Детские игрушки б/у" href="/catalog/tovary-dlya-detei/detskie-igrushki/">
                        <span class="catalog-page-category-child-title">Детские игрушки</span>
                        <span class="catalog-page-category-child-count">352</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/catalog.js"></script>
}