<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/img/icon-main.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/css/main-components.css"/>
</head>
<body>
    <header class="header">
        <div class="navbar-top">
            <div class="j-container navbar-top-container">
                <div class="navbar-city">
                    <div class="navbar-city-icon">
                        <i class="ui-icon ui-icon-place"></i>
                    </div>
                    <div class="navbar-city-content">
                        <a>Набережные Челны</a>
                    </div>
                </div>
                <div class="nav" style="overflow: hidden">
                    <a class="nav-item" href="/catalog/">Каталог</a>
                    <a href="#" class="nav-item active">Акции</a>
                    <a href="#" class="nav-item">Обратная связь</a>
                    <a href="#" class="nav-item">Вакансии</a>
                    <a href="#" class="nav-item">Услуги</a>
                </div>
                <div class="phone">
                    <i class="ui-icon ui-icon-phone"></i>
                    <a class="phone-label">8 800 500 55 13</a>
                </div>
            </div>
        </div>
        <div class="navbar-mobile-top">
            <div class="nav">
                <div class="nav-item" id="mobileCatalogTopButton">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-catalog"></i>
                    </div>
                    <div class="nav-item-label">Каталог</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-percent"></i>
                    </div>
                    <div class="nav-item-label">Акции</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-category-telefony-mobile"></i>
                    </div>
                    <div class="nav-item-label">Телефоны</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-category-instrument-mobile"></i>
                    </div>
                    <div class="nav-item-label">Инструменты</div>
                </div>
            </div>
        </div>
        <div class="navbar-mobile">
            <div class="nav">
                <div class="nav-item is-active">
                    <div class="nav-item-icon">
                        <a href="/">
                            <i class="ui-icon ui-icon-home"></i>
                        </a>
                    </div>
                    <div class="nav-item-label">Главная</div>
                </div>
                <div class="nav-item" id="mobileCatalogDownButton">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-catalog"></i>
                    </div>
                    <div class="nav-item-label">Каталог</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <a href="/cart/">
                            <i class="ui-icon ui-icon-cart"></i>
                        </a>
                    </div>
                    <div class="nav-item-label">Корзина</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-inventory"></i>
                    </div>
                    <div class="nav-item-label">Заказы</div>
                </div>
                <div class="nav-item">
                    <div class="nav-item-icon">
                        <i class="ui-icon ui-icon-person"></i>
                    </div>
                    <div class="nav-item-label">Войти</div>
                </div>
            </div>
        </div>
    </header>

    <div class="navbar-catalog" id="navbarCatalog">
        <div class="navbar-catalog-container">
            <div class="j-container">
                <div class="navbar-catalog-content">
                    <div class="navbar-catalog-menu">
                        <a class="menu-item is-active" href="/catalog/telefony/">
                            <i class="ui-icon ui-icon-category-telefony"></i>
                            <div class="menu-item-title">Телефоны</div>
                        </a>
                        <a class="menu-item" href="/catalog/kompyuternaya-tehnika/">
                            <i class="ui-icon ui-icon-category-kompyuternaya-tehnika"></i>
                            <div class="menu-item-title">Компьютерная техника</div>
                        </a>
                        <a class="menu-item" href="/catalog/instrument/">
                            <i class="ui-icon ui-icon-category-instrument"></i>
                            <div class="menu-item-title">Инструмент</div>
                        </a>
                        <a class="menu-item" href="/catalog/igry-i-pristavki/">
                            <i class="ui-icon ui-icon-category-igry-i-pristavki"></i>
                            <div class="menu-item-title">Игры и приставки</div>
                        </a>
                        <a class="menu-item" href="/catalog/tovary-dlya-doma/">
                            <i class="ui-icon ui-icon-category-tovary-dlya-doma"></i>
                            <div class="menu-item-title">Товары для дома</div>
                        </a>
                        <a class="menu-item" href="/catalog/avto/">
                            <i class="ui-icon ui-icon-category-avto"></i>
                            <div class="menu-item-title">Авто</div>
                        </a>
                        <a class="menu-item" href="/catalog/foto-i-videotehnika/">
                            <i class="ui-icon ui-icon-category-foto-i-videotehnika"></i>
                            <div class="menu-item-title">Фото и видеотехника</div>
                        </a>
                        <a class="menu-item" href="/catalog/hobbi-i-otdyh/">
                            <i class="ui-icon ui-icon-category-hobbi-i-otdyh"></i>
                            <div class="menu-item-title">Хобби и отдых</div>
                        </a>
                        <a class="menu-item" href="/catalog/lichnye-vecshi/">
                            <i class="ui-icon ui-icon-category-lichnye-vecshi"></i>
                            <div class="menu-item-title">Личные вещи</div>
                        </a>
                        <a class="menu-item" href="/catalog/audiotehnika/">
                            <i class="ui-icon ui-icon-category-audiotehnika"></i>
                            <div class="menu-item-title">Аудиотехника</div>
                        </a>
                        <a class="menu-item" href="/catalog/tv-i-video/">
                            <i class="ui-icon ui-icon-category-tv-i-video"></i>
                            <div class="menu-item-title">ТВ и Видео</div>
                        </a>
                        <a class="menu-item" href="/catalog/tovary-dlya-detei/">
                            <i class="ui-icon ui-icon-category-tovary-dlya-detei"></i>
                            <div class="menu-item-title">Товары для детей</div>
                        </a>
                    </div>

                    <div class="navbar-catalog-categories is-active">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/telefony/">
                                        Телефоны
                                        <span class="navbar-catalog-count">1 542</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/sotovye-telefony/">
                                        Сотовые телефоны
                                        <span class="navbar-catalog-count">1 045</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/umnye-chasy-i-braslety/">
                                        Умные часы и браслеты
                                        <span class="navbar-catalog-count">90</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/naushniki-dlya-telefonov/">
                                        Наушники для телефонов
                                        <span class="navbar-catalog-count">201</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/racii/">
                                        Рации
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/zaryadnye-ustroistva/">
                                        Зарядные устройства
                                        <span class="navbar-catalog-count">163</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/telefony/aksessuary-dlya-telefonov/">
                                        Аксессуары для телефонов
                                        <span class="navbar-catalog-count">40</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Iphone
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Apple watch
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Iphone 13
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Samsung S22
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Samsung S21
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        AirPods
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Iphone SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Наушники SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Телефоны SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/kompyuternaya-tehnika/">
                                        Компьютерная техника
                                        <span class="navbar-catalog-count">280</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/noutbuki/">
                                        Ноутбуки
                                        <span class="navbar-catalog-count">55</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/sistemnye-bloki/">
                                        Системные блоки
                                        <span class="navbar-catalog-count">26</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/monitory/">
                                        Мониторы
                                        <span class="navbar-catalog-count">38</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/monobloki/">
                                        Моноблоки
                                        <span class="navbar-catalog-count">28</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/kompyuternye-myshi/">
                                        Компьютерные мыши
                                        <span class="navbar-catalog-count">20</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/klaviatury/">
                                        Клавиатуры
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/kompyuternye-garnitury-i-naushniki/">
                                        Компьютерные гарнитуры и наушники
                                        <span class="navbar-catalog-count">32</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/webkamery/">
                                        Web-камеры
                                        <span class="navbar-catalog-count">6</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/planshetnye-pk/">
                                        Планшетные пк
                                        <span class="navbar-catalog-count">32</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/elektronnye-knigi/">
                                        Электронные книги
                                        <span class="navbar-catalog-count">12</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/printery-i-mfu/">
                                        Принтеры и МФУ
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/routery-i-modemy/">
                                        Роутеры и модемы
                                        <span class="navbar-catalog-count">18</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/jestkie-diski/">
                                        Жесткие диски
                                        <span class="navbar-catalog-count">12</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/prochaya-orgtehnika/">
                                        Прочая оргтехника
                                        <span class="navbar-catalog-count">4</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/setevye-filtry-i-udliniteli/">
                                        Сетевые фильтры и удлинители
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/kompyuternaya-tehnika/aksessuary-dlya-kompyuterov/">
                                        Аксессуары для компьютеров
                                        <span class="navbar-catalog-count">32</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Наушники
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Ноутбук
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Монитор
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Macbook
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Acer
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Жесткий Диск
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Наушники SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Ноутбук SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Монитор SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/instrument/">
                                        Инструмент
                                        <span class="navbar-catalog-count">656</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/aksessuary-i-rashodnye-materialy/">
                                        Аксессуары и расходные материалы
                                        <span class="navbar-catalog-count">69</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/izmeritelnye-instrumenty/">
                                        Измерительные инструменты
                                        <span class="navbar-catalog-count">39</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/specodejda/">
                                        Спецодежда
                                        <span class="navbar-catalog-count">19</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/elektroinstrument/">
                                        Электроинструмент
                                        <span class="navbar-catalog-count">485</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/ruchnoi-instrument/">
                                        Ручной инструмент
                                        <span class="navbar-catalog-count">64</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/svarochnoe-oborudovanie/">
                                        Сварочное оборудование
                                        <span class="navbar-catalog-count">34</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/benzoinstrument/">
                                        Бензоинструмент
                                        <span class="navbar-catalog-count">11</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/pnevmoinstrument/">
                                        Пневмоинструмент
                                        <span class="navbar-catalog-count">4</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/svetotehnika/">
                                        Светотехника
                                        <span class="navbar-catalog-count">10</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/instrument/tehnika-dlya-sada/">
                                        Техника для сада
                                        <span class="navbar-catalog-count">9</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Перфоратор
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Шуруповерт
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        УШМ
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Набор инструментов
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Сварочник
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Перфоратор SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Шуруповерт SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> УШМ SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/igry-i-pristavki/">
                                        Игры и приставки
                                        <span class="navbar-catalog-count">53</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/igry-i-pristavki/igrovye-pristavki/">
                                        Игровые приставки
                                        <span class="navbar-catalog-count">20</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/igry-i-pristavki/igry-dlya-pristavok/">
                                        Игры для приставок
                                        <span class="navbar-catalog-count">15</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/igry-i-pristavki/aksessuary-dlya-igrovyh-pristavok/">
                                        Аксессуары для игровых приставок
                                        <span class="navbar-catalog-count">15</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/igry-i-pristavki/nastolnye-igry/">
                                        Настольные игры
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        PS1
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        PS2
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        PS3
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        PS4
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        PS5
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Джойстик
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/tovary-dlya-doma/">
                                        Товары для дома
                                        <span class="navbar-catalog-count">316</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/hozyaistvennye-tovary/">
                                        Хозяйственные товары
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/multivarki/">
                                        Мультиварки
                                        <span class="navbar-catalog-count">15</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/klimaticheskoe-oborudovanie/">
                                        Климатическое оборудование
                                        <span class="navbar-catalog-count">24</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/mebel-i-interer/">
                                        Мебель и интерьер
                                        <span class="navbar-catalog-count">6</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/mikrovolnovye-pechi/">
                                        Микроволновые печи
                                        <span class="navbar-catalog-count">8</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/pylesosy/">
                                        Пылесосы
                                        <span class="navbar-catalog-count">35</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/stiralnye-mashiny/">
                                        Стиральные машины
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/tovary-dlya-krasoty-i-zdorovya/">
                                        Товары для красоты и здоровья
                                        <span class="navbar-catalog-count">12</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/tovary-dlya-kuhni/">
                                        Товары для кухни
                                        <span class="navbar-catalog-count">52</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/utyugi-i-otparivateli/">
                                        Утюги и отпариватели
                                        <span class="navbar-catalog-count">21</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/chainiki-i-kofevarki/">
                                        Чайники и кофеварки
                                        <span class="navbar-catalog-count">32</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/holodilniki-i-morozilniki/">
                                        Холодильники и морозильники
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/shveinye-mashiny/">
                                        Швейные машины
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/britvy-i-mashinki-dlya-strijki/">
                                        Бритвы и машинки для стрижки
                                        <span class="navbar-catalog-count">29</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/feny-i-ploiki/">
                                        Фены и плойки
                                        <span class="navbar-catalog-count">24</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/vesy/">
                                        Весы
                                        <span class="navbar-catalog-count">30</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-doma/elektricheskie-plity/">
                                        Электрические плиты
                                        <span class="navbar-catalog-count">7</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Микроволновка
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Мультиварка
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Фен
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Пароварка
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Обогреватель
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Робот пылесос
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/avto/">
                                        Авто
                                        <span class="navbar-catalog-count">135</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/moiki-vysokogo-davleniya/">
                                        Мойки высокого давления
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/nasosy-i-kompressory/">
                                        Насосы и компрессоры
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/avtomagnitoly/">
                                        Автомагнитолы
                                        <span class="navbar-catalog-count">29</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/avtomobilnye-aksessuary-i-komplektuyucshie/">
                                        Автомобильные аксессуары и комплектующие
                                        <span class="navbar-catalog-count">23</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/avtomobilnye-kolonki/">
                                        Автомобильные колонки
                                        <span class="navbar-catalog-count">32</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/avtomobilnye-sabvufery/">
                                        Автомобильные сабвуферы
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/avtomobilnye-usiliteli/">
                                        Автомобильные усилители
                                        <span class="navbar-catalog-count">18</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/parktroniki-i-signalizaciya/">
                                        Парктроники и сигнализация
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/videoregistratory/">
                                        Видеорегистраторы
                                        <span class="navbar-catalog-count">18</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/navigatory/">
                                        Навигаторы
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/avto/shiny-i-diski/">
                                        Шины и диски
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Навигатор
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Антирадар
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Аптечка
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Сигнализация
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/foto-i-videotehnika/">
                                        Фото и видеотехника
                                        <span class="navbar-catalog-count">20</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/foto-i-videotehnika/fotoapparaty/">
                                        Фотоаппараты
                                        <span class="navbar-catalog-count">10</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/foto-i-videotehnika/videokamery/">
                                        Видеокамеры
                                        <span class="navbar-catalog-count">9</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/foto-i-videotehnika/aksessuary-dlya-foto-i-videokamer/">
                                        Аксессуары для фото и видеокамер
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Штатив
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Вспышка
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Объектив
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/hobbi-i-otdyh/">
                                        Хобби и отдых
                                        <span class="navbar-catalog-count">62</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/zimnii-sportivnyi-inventar/">
                                        Зимний спортивный инвентарь
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/metalloiskateli/">
                                        Металлоискатели
                                        <span class="navbar-catalog-count">8</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/binokli-i-optika/">
                                        Бинокли и оптика
                                        <span class="navbar-catalog-count">6</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/vodnyi-inventar/">
                                        Водный инвентарь
                                        <span class="navbar-catalog-count">11</span>
                                    </a>
                                </div>
                                <div class="subcategories-item" href="/catalog/hobbi-i-otdyh/tatumashinki/">
                                    <a class="subcategories-item-title">
                                        Тату-машинки
                                        <span class="navbar-catalog-count">4</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/velosipedy-i-samokaty/">
                                        Велосипеды и самокаты
                                        <span class="navbar-catalog-count">8</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/pnevmatika-i-elektroshokery/">
                                        Пневматика и электрошокеры
                                        <span class="navbar-catalog-count">10</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/trenajery/">
                                        Тренажеры
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/rolikovye-i-ledovye-konki/">
                                        Роликовые и ледовые коньки
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/hobbi-i-otdyh/turizm/">
                                        Туризм
                                        <span class="navbar-catalog-count">12</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Велосипеды
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Самокат
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Удочки
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Гантели
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Боксерские перчатки
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Для сноуборда
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Велосипеды SALE </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Самокат SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/lichnye-vecshi/">
                                        Личные вещи
                                        <span class="navbar-catalog-count">27</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/lichnye-vecshi/kanctovary/">
                                        Канцтовары
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/lichnye-vecshi/chasy/">
                                        Часы
                                        <span class="navbar-catalog-count">22</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/lichnye-vecshi/koshelki-i-sumki/">
                                        Кошельки и сумки
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Часы
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Tissot
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Casio
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Шуба
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Коллекционные фигурки
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Часы SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/audiotehnika/">
                                        Аудиотехника
                                        <span class="navbar-catalog-count">110</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/audiotehnika/muzykalnye-instrumenty/">
                                        Музыкальные инструменты
                                        <span class="navbar-catalog-count">11</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/audiotehnika/mp3-pleery/">
                                        MP3 плееры
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/audiotehnika/kolonki/">
                                        Колонки
                                        <span class="navbar-catalog-count">95</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/audiotehnika/domashnie-kinoteatry/">
                                        Домашние кинотеатры
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/audiotehnika/muzykalnye-centry/">
                                        Музыкальные центры
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Колонка JBL
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Яндекс станция
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Домашний кинотеатр
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/tv-i-video/">
                                        ТВ и Видео
                                        <span class="navbar-catalog-count">147</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tv-i-video/televizory/">
                                        Телевизоры
                                        <span class="navbar-catalog-count">110</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tv-i-video/video/">
                                        Видео
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tv-i-video/proektory/">
                                        Проекторы
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tv-i-video/cifrovoe-televidenie/">
                                        Цифровое телевидение
                                        <span class="navbar-catalog-count">11</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tv-i-video/aksessuary-dlya-tv-i-video/">
                                        Аксессуары для ТВ и видео
                                        <span class="navbar-catalog-count">24</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Телевизор
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Тв Samsung
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Тв Dexp
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Тв LG
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Кронштейн для ТВ
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Тв приставки
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Акции б/у">
                                        Акции
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title"> Телевизор SALE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-catalog-categories">
                        <div class="subcategories-overlay">
                            <div class="subcategories">
                                <div class="categories-item">
                                    <a class="categories-item-title" href="/catalog/tovary-dlya-detei/">
                                        Товары для детей
                                        <span class="navbar-catalog-count">3</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-detei/detskie-avtokresla/">
                                        Детские автокресла
                                        <span class="navbar-catalog-count">2</span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title" href="/catalog/tovary-dlya-detei/detskie-igrushki/">
                                        Детские игрушки
                                        <span class="navbar-catalog-count">1</span>
                                    </a>
                                </div>
                            </div>

                            <div class="subcategories">
                                <div class="categories-item">
                                    <div class="categories-item-title" title="Часто ищут б/у">
                                        Часто ищут
                                    </div>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Автокресла
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                                <div class="subcategories-item">
                                    <a class="subcategories-item-title">
                                        Коляски
                                        <span class="navbar-catalog-count"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-catalog-overlay" id="navbar-catalog-overlay"></div>
    </div>

    <div class="navbar" style="top: -20px" id="navbar">
        <div class="j-container navbar-container">
            <a href="/">
                <span data-svg="logo" class="navbar-logo"></span>
            </a>
            <div class="navbar-city">
                <div class="navbar-city-icon">
                    <i class="ui-icon ui-icon-place"></i>
                </div>
                <div class="navbar-city-content">
                    <div class="navbar-city-label">
                        <div class="j-dropdown">
                            <div class="j-dropdown-header">Набережные Челны</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-catalog-button" id="navbarButton">
                <i class="ui-icon ui-icon-catalog"></i>
                <div class="navbar-catalog-button-label">Каталог</div>
            </div>
            <div class="elastic-search">
                <form class="elastic-search-wrapper" autocomplete="off">
                    <input class="elastic-search-input"
                           type="text"
                           value=""
                           placeholder="Я хочу купить..." />
                    <div class="elastic-search-clear"></div>
                </form>
                <button class="elastic-search-button" aria-label="Поиск">
                    <i class="ui-icon ui-icon-search"></i>
                </button>
            </div>
            <div class="nav">
                <div class="nav-item">
                    <i class="ui-icon ui-icon-like"></i>
                    <div class="nav-item-label">Избранное</div>
                </div>
                <div class="nav-item">
                    <i class="ui-icon ui-icon-inventory"></i>
                    <div class="nav-item-label">Заказы</div>
                </div>
                <div class="nav-item">
                    <i class="ui-icon ui-icon-person"></i>
                    <div class="nav-item-label">Войти</div>
                </div>
                <a href="/cart/">
                    <div class="nav-item">
                        <i class="ui-icon ui-icon-cart"></i>
                        <div class="nav-item-label">Корзина</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="j-container footer-container">
            <div class="footer-logo">
                <span data-svg="logo" class="footer-logo-icon"></span>
                <div class="footer-logo-label">Победа - комиссионный магазин</div>
            </div>
            <div class="footer-categories">
                <a class="footer-categories-item" href="#">Доставка</a>
                <a class="footer-categories-item" href="#">Кредит</a>
                <a class="footer-categories-item" href="#">Оплата и возврат</a>
                <a class="footer-categories-item" href="#">Обратная связь</a>
                <a class="footer-categories-item" href="/catalog/telefony/">Телефоны</a>
                <a class="footer-categories-item" href="/catalog/kompyuternaya-tehnika/">Компьютерная техника</a>
                <a class="footer-categories-item" href="/catalog/instrument/">Инструмент</a>
                <a class="footer-categories-item" href="/catalog/igry-i-pristavki/">Игры и приставки</a>
                <a class="footer-categories-item" href="/catalog/tovary-dlya-doma/">Товары для дома</a>
                <a class="footer-categories-item" href="/catalog/avto/">Авто</a>
                <a class="footer-categories-item" href="/catalog/foto-i-videotehnika/">Фото и видеотехника</a>
                <a class="footer-categories-item" href="/catalog/hobbi-i-otdyh/">Хобби и отдых</a>
                <a class="footer-categories-item" href="/catalog/lichnye-vecshi/">Личные вещи</a>
                <a class="footer-categories-item" href="/catalog/audiotehnika/">Аудиотехника</a>
                <a class="footer-categories-item" href="/catalog/tv-i-video/">ТВ и Видео</a>
                <a class="footer-categories-item" href="/catalog/tovary-dlya-detei/">Товары для детей</a>
            </div>
            <div class="footer-contacts">
                <div class="footer-contacts-email">
                    Отзывы, претензии и предложения по работе присылайте на почту
                    <a href="mailto:otzyv@pobeda63.ru">otzyv@pobeda63.ru</a>
                </div>
                <div class="footer-contacts-email">
                    По вопросам оптовых поставок, направляйте свои предложения на
                    <a href="mailto:opt@pobeda63.ru">opt@pobeda63.ru</a>
                </div>
                <a href="#" class="footer-contacts-item">Политика конфиденциальности</a>
                <a href="#" class="footer-contacts-item">Пользовательское Соглашение</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main-components.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
