

<head>
    <title>Оформление заказа | Победа</title>
    <link rel="stylesheet" href="~/css/order.css" />
</head>
<div class="main-wrapper">
    <div class="app">
        <div class="j-container">
            <div class="breadcrumbs">
                <span>
                    <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/">
                        <span>Главная</span>
                    </a>
                </span>
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <span>
                    <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" href="/cart/">
                        <span>Корзина</span>
                    </a>
                </span>
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <div class="breadcrumbs-crumb breadcrumbs-crumb-current">
                    <span>Оформление заказа</span>
                </div>
            </div>
        </div>
        <div class="j-container app-content">
            <div class="page-checkout is-order">
                <div class="checkout-header">Оформление заказа</div>
                <div class="checkout-container">
                    <div class="checkout-form">
                        <form class="checkout-delivery checkout-form--content">
                            <div class="checkout-form--title">
                                1. Где и как вы хотите получить заказ?
                            </div>
                            <div class="checkout-form--field">
                                <div class="j-input">
                                    <div class="j-input-hint top">
                                        Выберите город <span class="j-input-required">*</span>
                                    </div>
                                    <div class="j-dropdown checkout-delivery--dropdown">
                                        <div class="j-dropdown-header">
                                            <input type="text" placeholder="Введите город" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="j-form-field checkout-form--checkboxes"
                                 style="position: relative">
                                <div class="j-input checkout-form--checkbox checkout-form-delivery--checkbox"
                                     style="order: 2">
                                    <div class="checkout-form-delivery--checkbox-icon">
                                        <img src="~/img/icon-truck.png" alt="" />
                                    </div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            Доставка курьером
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            Доставим товар по выбранному адресу
                                        </div>
                                        <div class="checkout-form--checkbox-value">
                                            от 821 ₽
                                        </div>
                                    </div>
                                </div>
                                <div class="j-input checkout-form--checkbox checkout-form-delivery--checkbox"
                                     style="order: 1">
                                    <div class="checkout-form-delivery--checkbox-icon">
                                        <img src="~/img/icon-kiosk.png" alt="" />
                                    </div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            Терминал "СДЭК"
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            В удобный для вас терминал
                                        </div>
                                        <div class="checkout-form--checkbox-value">
                                            от 640 ₽
                                        </div>
                                    </div>
                                </div>
                                <div class="j-input checkout-form--checkbox checkout-form-delivery--checkbox"
                                     style="order: 3">
                                    <div class="checkout-form-delivery--checkbox-icon">
                                        <img src="~/img/icon-shop.png" alt="" />
                                    </div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            Самовывоз
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            Забрать товар из пункта выдачи
                                        </div>
                                        <div class="checkout-form--checkbox-value">
                                            Бесплатно
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="checkout-credit checkout-form--content">
                            <div class="checkout-form--title">
                                2. Как вам будет удобнее оплатить заказ?
                            </div>
                            <div class="j-form-field checkout-form--checkboxes">
                                <div class="j-input checkout-form--checkbox checkout-form-pay--checkbox is-active">
                                    <div class="checkout-form--checkbox-icon"></div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            Картой онлайн
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            Картами Visa, MasterCard, Мир
                                        </div>
                                    </div>
                                </div>
                                <div class="j-input checkout-form--checkbox checkout-form-pay--checkbox">
                                    <div class="checkout-form--checkbox-icon"></div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            <div class="j-tooltip">
                                                <div class="j-tooltip-header">В кредит *</div>
                                            </div>
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            АО «Тинькофф Банк» Вы можете оформить кредит онлайн
                                        </div>
                                    </div>
                                </div>
                                <div class="j-input checkout-form--checkbox checkout-form-pay--checkbox">
                                    <div class="checkout-form--checkbox-icon"></div>
                                    <div class="checkout-form--checkbox-wrapper">
                                        <div class="checkout-form--checkbox-title">
                                            <div class="j-tooltip">
                                                <div class="j-tooltip-header">В рассрочку *</div>
                                            </div>
                                        </div>
                                        <div class="checkout-form--checkbox-label">
                                            АО «Тинькофф Банк» Вы можете оформить рассрочку
                                            онлайн
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-data checkout-form--content">
                            <div class="checkout-form--title">
                                3. Укажите данные получателя заказа
                            </div>
                            <div class="j-form-field checkout-form--field">
                                <div class="j-input checkout-form--input">
                                    <div class="j-input-hint top">
                                        Номер телефона <span class="j-input-required">*</span>
                                    </div>
                                    <input type="text" placeholder="Введите телефон" />
                                    <div class="j-input-hint bottom">
                                        Придёт смс-код для подтверждения
                                    </div>
                                </div>
                                <div class="j-input checkout-form--input">
                                    <div class="j-input-hint top">
                                        Email <span class="j-input-required">*</span>
                                    </div>
                                    <input type="text" placeholder="Введите e-mail" />
                                </div>
                            </div>
                            <div class="j-form-field checkout-form--field">
                                <div class="j-input checkout-form--input">
                                    <div class="j-input-hint top">
                                        Фамилия <span class="j-input-required">*</span>
                                    </div>
                                    <input type="text" placeholder="Введите фамилию" />
                                </div>
                                <div class="j-input checkout-form--input">
                                    <div class="j-input-hint top">
                                        Имя <span class="j-input-required">*</span>
                                    </div>
                                    <input type="text" placeholder="Введите имя" />
                                </div>
                                <div class="j-input checkout-form--input">
                                    <div class="j-input-hint top">
                                        Отчество <span class="j-input-required">*</span>
                                    </div>
                                    <input type="text" placeholder="Введите отчество" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-order-wrapper">
                        <div class="checkout-order">
                            <div class="checkout-order--title">Состав заказа</div>
                            <div class="checkout-order--content">
                                <div class="checkout-order--label">
                                    Оплата заказа после получения подробного видео-обзора по
                                    каждому товару
                                </div>
                                <div class="checkout-order--cards">
                                    <div style="max-height: 200px">
                                        <div class="simplebar-wrapper" style="margin: 0px">
                                            <div class="simplebar-height-auto-observer-wrapper">
                                                <div class="simplebar-height-auto-observer"></div>
                                            </div>
                                            <div class="simplebar-mask">
                                                <div class="simplebar-offset">
                                                    <div class="simplebar-content-wrapper">
                                                        <div class="simplebar-content">
                                                            <div class="checkout-order--card">
                                                                <div class="checkout-order--card-title">
                                                                    Системный блок
                                                                </div>
                                                                <div class="checkout-order--card-count">
                                                                    1 шт. x 59 000 ₽
                                                                </div>
                                                            </div>
                                                            <div class="checkout-order--card">
                                                                <div class="checkout-order--card-title">
                                                                    Системный блок
                                                                </div>
                                                                <div class="checkout-order--card-count">
                                                                    1 шт. x 59 000 ₽
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-order--info">
                                    <div class="checkout-order--info-item">
                                        <div class="checkout-order--info-label">
                                            Товары (2):
                                        </div>
                                        <div class="checkout-order--info-value">
                                            118 000 ₽
                                        </div>
                                    </div>
                                    <div class="checkout-order--info-item">
                                        <div class="checkout-order--info-label">Оплата:</div>
                                        <div class="checkout-order--info-value"
                                             id="payment-value">
                                            Картой онлайн
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout-order--amount">
                                    <div class="checkout-order--amount-label">ИТОГО:</div>
                                    <div class="checkout-order--amount-value"
                                         id="order-value">
                                        118 000 ₽
                                    </div>
                                </div>
                                <div class="checkout-order--actions">
                                    <button class="j-button main">Оформить заказ</button>
                                </div>
                            </div>
                        </div>
                        <div class="j-form-field"
                             style="flex-wrap: wrap; margin-top: 10px"></div>
                        <div class="checkout-order--description-bottom">
                            Нажимая на кнопку, вы подтверждаете свое совершеннолетие,
                            соглашаетесь на
                            <a>обработку персональных данных</a>
                            в соответствии с
                            <a>Пользовательским соглашением</a>
                            и принимаете
                            <a>договор оферты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/order.js"></script>
}