<div class="main-wrapper">
    <div class="app">
        <div class="j-container">
            <div class="breadcrumbs">
                <span>
                    <a class="breadcrumbs-crumb breadcrumbs-crumb-previus" asp-controller="Main" asp-action="Index">
                        <span>Главная</span>
                    </a>
                </span>
                <i class="ui-icon ui-icon-arrow-angleright"></i>
                <span>
                    <a class="breadcrumbs-crumb breadcrumbs-crumb-current" asp-controller="Cart" asp-action="Index">
                        <span>Корзина</span>
                    </a>
                </span>
            </div>
        </div>
        <div class="j-container app-content">
            <div class="page-cart">
                <div class="cart-header">В корзине 2 товара</div>
                <div class="cart-container">
                    <div class="cart-content">
                        <div class="cart-list">
                            <div class="cart-list--title">
                                <button class="cart-list--title-action">
                                    Удалить все товары из корзины<i class="ui-icon ui-icon-all-delete"></i>
                                </button>
                            </div>
                            <div class="cart-list--content">
                                <div class="cart-card">
                                    <div class="cart-card--content">
                                        <div class="cart-card--image">
                                            <a asp-controller="Product" asp-action="Index">
                                                <img src="~/img/product_photo_1.webp" alt="" />
                                            </a>
                                        </div>
                                        <div class="cart-card--info">
                                            <a asp-controller="Product" asp-action="Index">
                                                <div class="cart-card--title">
                                                    Системный блок
                                                </div>
                                            </a>
                                            <div class="cart-card--label">Самара</div>
                                            <div class="cart-card--amount">59 000 ₽</div>
                                        </div>
                                        <div class="cart-card--actions">
                                            <div class="abyss"></div>
                                            <button class="cart-card--remove">
                                                Удалить<i class="ui-icon ui-icon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-card">
                                    <div class="cart-card--content">
                                        <div class="cart-card--image">
                                            <a asp-controller="Product" asp-action="Index">
                                                <img src="~/img/product_photo_1.webp" alt="" />
                                            </a>
                                        </div>
                                        <div class="cart-card--info">
                                            <a asp-controller="Product" asp-action="Index">
                                                <div class="cart-card--title">
                                                    Системный блок
                                                </div>
                                            </a>
                                            <div class="cart-card--label">Самара</div>
                                            <div class="cart-card--amount">59 000 ₽</div>
                                        </div>
                                        <div class="cart-card--actions">
                                            <div class="abyss"></div>
                                            <button class="cart-card--remove">
                                                Удалить<i class="ui-icon ui-icon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-order">
                        <div class="cart-order--title">Оформление заказа</div>
                        <div class="cart-order--content">
                            <div class="cart-order--label">
                                Оплата заказа производится только после получения
                                видеообзора и принятия окончательного решения о покупке.
                            </div>
                            <div class="cart-order--info">
                                <div class="cart-order--info-item">
                                    <div class="cart-order--cards-count">Товары (2)</div>
                                    <div class="cart-order--cards-amount">118 000 ₽</div>
                                </div>
                                <div class="cart-order--info-item">
                                    <div class="cart-order--payment-label">Оплата</div>
                                    <div class="cart-order--payment-amount">
                                        Картой онлайн
                                    </div>
                                </div>
                            </div>
                            <div class="cart-order--amount">
                                <div class="cart-order--amount-label">Итого:</div>
                                <div class="cart-order--amount-value">118 000 ₽</div>
                            </div>
                            <div class="cart-order--actions">
                                <button class="j-button main"
                                        onclick="document.location='/Order'">
                                    Оформить заказ
                                </button><button class="j-button transparent">
                                    Хочу в кредит
                                </button>
                            </div>
                            <div class="cart-order--description">
                                Онлайн подтверждение заявки за 2 минуты. Вы можете выбрать
                                срок кредитования и ежемесячный платеж самостоятельно
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>